1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Lanak Hive"
      VALUE "FileDescription", "Chroma Drencher"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "ChromaDrencher"
      VALUE "LegalCopyright", "Lanak Hive"
      VALUE "OriginalFilename", "ChromaDrencher.exe"
      VALUE "ProductName", "Chroma Drencher"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

IDI_ICON1 ICON DISCARDABLE "icon.ico"
